/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #ffffff !default;
$stable:                          #ffffff !default;
$positive:                        #ffffff !default;
$calm:                            #43cee6 !default;
$balanced:                        #ef4734 !default;
$energized:                       #f0b840 !default;
$assertive:                       #0C7C59 !default;
$royal:                           #3B5998 !default;
$dark:                            #444 !default;
// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

/**********************************/
/*FONTS*/
h2.ingredient-type-heading, h3.recipe-category, h2.recipe-category, .cook-present-instructions h3, .popup-head h3, h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: $balanced;
}
div, p, .individual-recipe-in-list h2, h1, .button, .palanquin, .popup-body, span, .recipe-category-buttons  a, button {
	font-family: 'Open Sans', sans-serif;
}
.individual-recipe-in-list h2, .cook-present-instructions h1, .popover h1, .seasoning-selector-popup ion-header-bar, .seasoning-selector-popup h3, div.header-item.title, .cook-present-instructions h5, .education-title, .pompiere, h4.ingredient-subtype-heading, h1.title {
	font-family: 'Open Sans', sans-serif;
}
p {
	color: #333333 !important;
	font-size: 15px;
}
.loading p {
	color: #dddddd !important;
}
span {
	color: #333333 !important;
}
a {
	color: $balanced;
}

h1 {
	font-size: 27px;
}
.color-balanced {
	color: $balanced;
}
.italic {
	font-style: italic;
}
.bar .title {
	font-size: 18px;
	font-weight: 600;
}
.center {
	text-align: center;
}
.button.button-positive:hover {
    color: #000;
}

.bar .button.close-x-button {
    color: $balanced;
    border: 1px solid $balanced;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 19px;
    min-width: 33px;
    top: 6px !important;
}
.bar .button.close-x-button:active {
    color: #ffffff;
    border: 1px solid $balanced;
    background-color: $balanced;
}

/***********************/
/*SPACING**/
.col-36 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
	flex: 0 0 33.3333%;
	max-width: 32%;
}
.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.no-bottom-margin {
	margin-bottom: 0;
}
.row {
	padding: 0;
}
.bottom-margin-15 {
	margin-bottom: 15px;
}
.home-tab .padding-10 {
	padding: 10px !important;
}   
.padding-left-zero {
	padding-left: 0;
} 
.button-float-left {
	float: left;
	margin-left: 20px;
}
.button-float-right {
	float: right;
	margin-right: 20px;
}
/***********************/
/*POPUPS*/
.popup-container .popup {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5%;
}
.popup-buttons .button {
	border: 1px solid #000000;
	border-radius: 8px;
	font-size: 20px;
	color: #000000;
}
.popup-buttons .button {
    border: 1px solid $balanced;
    background-color: #ffffff;
    color: $balanced;
    font-size: 24px;
}
.popup-buttons .button:hover {
    border: 1px solid $balanced;
    background-color: $balanced;
    color: #ffffff;
}
.popup-body {
	padding: 5px 10px;
}
.popup-body p {
	font-size: 17px;
	margin: 5px 0;
}
.popup-head h3 {
	font-size: 24px;
}
/*.popover .bar-header {
	border-bottom: none !important;
}*/
.popup-head {
    border-bottom: 1px solid #333333;
    padding: 5px;
}
/**********************************/
/*BOTTOM NAV TABS*/
.tab-nav.tabs {
	color: $balanced;
	max-height: 37px;
	background-color: #fcfcfd;
    border-top: 1px solid #ddd !important;	
}
.has-tabs {
    bottom: 38px;
}
/*TOP NAV BUTTONS*/
.top-back-button-arrow {
	font-size: 180%;
}
.button.top-back-button {
	min-width: 57px;
	border-radius: 8px;
}

/***********************************/
/*HEADER*/
ion-nav-back-button.button-clear {
	border-color: #ffffff;
	border-radius: 50%;
}
.bar .button  {
	font-weight: bolder;
	border-color: #ffffff;
}
.button-balanced:active {
	color: $balanced;
	background: #ffffff;
	border: 1px solid $balanced;
}

/**********************************/
/*COOK TAB*/
/*general*/
.button.reset {
	border-color: #ffffff;
	font-size: 15px;
	font-weight: 500;
}
.cook-tab.scroll-content.ionic-scroll, .edit-byo.scroll-content.ionic-scroll, .add-side.scroll-content.ionic-scroll {
	height: 76%;
}
.platform-android .cook-tab.scroll-content.ionic-scroll, .platform-android .edit-byo.scroll-content.ionic-scroll, .platform-android .add-side.scroll-content.ionic-scroll {
	height: 72%;
}
/*slider dots*/
.slider-pager {
	top: 2px;
	display: none;
	
}
.slider-pager .slider-pager-page {
	color: $balanced;	
}

/*next & prev buttons */
.button {
	min-height: 0;
}
.prev-nav-button {
	float: left;
}
.next-nav-button {
	float: right;
}
.bottom-nav-buttons-cook-tab {
    position: fixed;
    bottom: 33px;
    z-index: 5000;
    width: 100%;
    background-color: #ffffff;
    padding: 5px;
    border-top: 1px solid #dddddd;
}
.bottom-nav-buttons-cook-tab .col {
	padding-top: 0;
}
.bottom-nav-buttons-cook-tab .button {	
    background-color: #ffffff;
    color: $balanced;
    border-radius: 8px;
    min-width: 114px;
    height: 43px;
    font-size: 270%;
    border-color: $balanced;
}
.bottom-nav-buttons-cook-tab .button:active {	
    background-color: $balanced;
    color: #ffffff;
}
.float-right {
	float: right;
}

/***********************/
/*ingredient input tabs*/

.padding.cook-tab {
	padding-top: 10px;
}
.ingredient-type-heading {	
	color: $balanced;
}
div.ingredient-form-selection {
	display: inline;
}
.ingredient-form-selection .checkbox input {
	display: block;
	margin: 0 auto;
}
.ingredient-form-items {
	padding: 0;
}
.grouping-of-ingredient-forms {
	padding-left: 23px;
}
.grouping-of-ingredient-forms input.checkbox {
	border-color: $balanced;
	color: $balanced;
	background-color: #ffffff;
}
.cook-tab .list .item {
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.list div:first-child h4 {
	display: none;
}
.ingredient-checkbox-row {
	margin: 0 20px;
}
.cook-tab .checkbox {
	padding-left: 0px;
}
.cook-tab .item-content {
	padding-left: 7px;
}
h2.ingredient-type-heading {
	font-size: 27px;
	margin: 0 0 5px 20px;
	font-weight: 500;
}
h4.ingredient-subtype-heading {
	font-size: 22px;
	margin: 5px 0 0 20px;
	color: #000000;
    font-weight: 300;	
}
.cook-tab .list .item-checkbox {
	padding-left: 40px;
}
/***********************/
/*recipe selection tab*/
.recipe-category-buttons {
    position: fixed;
    top: 70px;
    z-index: 5000;
    background-color: #ffffff;
}
.platform-android .recipe-category-buttons {
    top: 85px;
}
.recipe-category-buttons  a {
	font-size: 21px;
	font-weight: 400;
}
.white-space-above-recipe-category-buttons {
	position: fixed;
    top: 45px;
    height:76px;
    z-index: 4999;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}
.platform-android .white-space-above-recipe-category-buttons {
    height:90px;	
}
.button-bar.recipe-category-buttons {
	width: 96%;
	margin-left: 7px;
}
.cook-recipe-selection.scroll-content.ionic-scroll {
	padding-top: 65px;
}
.platform-android .cook-recipe-selection.scroll-content.ionic-scroll {
	padding-top: 45px;
}
.buttons-left .primary-buttons .fa-arrow-left {
	font-size: 10px;
}
.individual-recipe-in-list {
	box-shadow: 0px 1px 3px #999999;
	margin-bottom: 10px;
	white-space: nowrap;
}
.individual-recipe-in-list img {
	width: 100%;
}
.cook-recipe-selection .item, .cook-recipe-selection .item p, .cook-recipe-selection .item h2 {
	white-space: normal; 
}
.cook-recipe-selection .item {
	padding: 2px;
}
.individual-recipe-in-list p {
	font-size: 13px;
}
.item h2 {
	font-size: 18px;
	white-space: normal;	
	font-weight: 500;
}
.recipe-description-time p:first-child {
	margin-bottom: 10px;
}
.cook-recipe-selection h3:first-child {
	margin-top: 10px;
}
/*.cook-recipe-selection .item-icon-right .icon {
	position: static;
	color: $balanced;
}*/
.cook-recipe-selection .col.col-10.col-center {
	margin-right: 5px;
}
.recipe-selection-arrow {
	position: absolute;
    right: 5px;
    top: 44%;
    color: $balanced;
    border: 2px solid $balanced;
    border-radius: 50%;
    padding: 2px 8px 5px 6px;
    width: 31px;
    height: 31px;
    font-size: 23px;
}
.individual-recipe-in-list {
	margin: 10px 0;
}
.cook-recipe-selection button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;	
}
.cook-recipe-selection .col-50.col-center {
	text-align: center;
}
.bottom-a-la-carte-buttons {
    position: fixed;
    bottom: 37px;
    z-index: 5000;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}
.platform-android .bottom-a-la-carte-buttons {
    bottom: 0px;  
}
.bottom-a-la-carte-buttons .col {
	padding: 0;
}
.bottom-a-la-carte-buttons .button-white {
	min-width: 117px;
	display: block;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid $balanced;
	color: $balanced;
	border-radius: 8px;
    font-size: 21px;
}
.bottom-a-la-carte-buttons .button-white:active {
	background-color: $balanced;
	border: 1px solid $balanced;
	color: #ffffff;
}
.a-la-carte-selection .icon {
	position: relative;
	right: 0;
	color: $balanced;
}
.missing-ingredient-note {
	font-weight: 600;
}
/*************************/
/*recipe instructions page*/
.platform-android .cook-present-instructions .has-tabs-top {
	top: 83px;
}

.cook-present-instructions h1{
	font-weight: 300;
}
.cook-present-instructions h3 {
	font-size: 23px;
	font-weight: 300;
}
.recipe-instructions {
	box-shadow: 0px 1px 2px #999999;
	margin-bottom: 10px;
	white-space: normal;
}
.recipe-badges-container {
	position: absolute;
    right: -10px;
    margin-top: 5px;
}
.recipe-badges-container img {
    width: 110px;
    display: block;
    margin: 0px 0 4px;
}
.recipe-instructions.clickableStepClass {
	box-shadow: 0px 1px 2px #999999;
}
.recipe-instructions.has-tip {
	box-shadow: 0px 1px 2px #999999;
	margin-bottom: 10px;
	white-space: normal;
}
.instruction-step-tip-icon {
	position: absolute;
    bottom: 7px;
    right: 7px;
    color: $balanced;
    font-size: 25px;
}
.recipe-instructions.item, .recipe-instructions.item p {
	white-space: normal; 
}
.recipe-instructions p {
	font-size: 15px;
	max-width: 93%;
}
.recipe-video {
	margin: 0 auto;
}
.col.ingredients-seasoning {
	padding: 0;
}
.current-seasoning {
	text-decoration: underline;
	color: #000000;
	margin: 5px 0;
}
.button-spice-up-add-side {
	border-color: #ef4734;
    background-color: transparent;
    color: #ef4734;
    margin: 10px 0 20px;
    font-size: 15px;
    border-radius: 8px;
}
.button-spice-up-add-side.login-signup {
	min-width: 110px;
}
.button-spice-up-add-side.reset-password {
	font-size: 17px;
}
.button-spice-up-add-side:hover, .button-spice-up-add-side:active {
	border-color: #ef4734;
    background-color: #ef4734;
    color: #ffffff;
}
.button-white-round, .button-white-round:hover {
	border-radius: 8px;
	color: $balanced;
	background: #ffffff;
	border: 2px solid $balanced;
	min-width: 70px;
    font-size: 150%;
}
.button-white-round:active {
	color: #ffffff;
	background: $balanced;
	border: none;
}
.button.close-video {
	position: fixed;
	bottom: 30%;
	left: 34%;
	font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    border-radius: 8px;
	border-color: #ef4734;
    background-color: #ef4734;
    color: #ffffff;    
    min-width: 100px;
}
.button.close-video:hover, .button.close-video:active {
	border-color: #ef4734;
    background-color: transparent;
    color: #ef4734;	
}
.video-container {
    position: relative;
    padding-bottom: 46.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cook-present-instructions h5 {
	font-size: 17px;
	font-weight: 300;
}
.video-slider-dots div{
	display: inline;
	color: $balanced;
}
.video-slider-dots {
	margin: 0 auto;
	text-align: center;
}
/*popover*/

/*.popover {
	left: 5% !important;
	top: 25% !important;	
	height: 300px !important;
	width: 300px !important;
}*/
.modal.video-step-tip {
	background-color: rgba(255, 255, 255, 0.7);
}
#modal-player {
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	margin: 0 auto;
}
#videomodal {
  position: fixed;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
}
#videomodalbutton {
  margin: 0 auto;
}
#intro-slides-modal{
  transform: none !important
}
.popover p {
	white-space: normal;
}
.popover .scroll-content {
	padding: 10px 20px;
	background-color: #ffffff;
}
.bar.bar-header {
	border-bottom: 1px solid $balanced;
}
.popover p {
	font-size: 16px;
	line-height: 22px;
}
.popover.seasoning-selector-popup {
	height: 500px !important;
	top: 10% !important;
}
.image-modal {
    width: 100% !important;
    height: 50%;
    top: 25% !important;
    left: 0 !important;
}
.popover ion-content.scroll-content {
	border-radius: 0 !important;
}
.popover-arrow {
	display: none !important;
}
/*seasoning profile selector*/
.popover .bar h1.title, .seasoning-selector-popup h3 {
	font-size: 18px;
	font-weight: 400;
}


/******************/
/*side dish*/
.add-side-dish-screen .item-thumbnail-left {
	padding: 0;
}
.add-side-dish-screen p {
	white-space: normal;
}
h3.side-dish-header {
	color: $balanced;
}
.add-side-dish-screen .button {	
    background-color: $balanced;
    color: #ffffff;
    min-width: 25px;
    padding: 0 14px;
}
.add-side-dish-screen .button:active {	
    background-color: #ffffff;
    color: $balanced;
}
.add-side-dish-screen .item-icon-right .icon {
	position: static;
	color: $balanced;
}

/****************/
/*edit byo ingredients*/
.edit-byo .item {
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.edit-byo h3 {
	margin-top: 10px;
}
.min-ingredients-needed {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}


/*******************/
/*LEARN TAB*/
h1.learn-title {
	font-weight: 700;
    color: $balanced;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-variant: small-caps;
}
h1.learn-title {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1.learn-title:before, h1.learn-title:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: red;
}
h1.learn-title:before {
    margin-left: -50%;
    text-align: right;
}
.individual-recipe-in-list.training-video-item {
	padding: 0 10px;
}
h4.article-subtitle {
	font-size: 25px;
}
.education-collection {
	margin: 10px 5px;
	box-shadow: 0px 1px 3px #999999;
	white-space: normal;
	padding: 9px 15px;
}
.education-collection p {
	white-space: normal;
	font-size: 15px;
	width: 88%;
}
.education-collection .icon {
	position: absolute;
    right: 10px;
    top: 35%;
    color: $balanced;
    border: 2px solid $balanced;
    border-radius: 50%;
    padding: 4px 10px 5px 11px;
    width: 32px;
    height: 32px;
}
.education-collection .icon.ion-videocamera {
    padding-left: 9px;
}
.learn-tab-article img {
	max-width: 100%;
}
ul.bullet-points {
	list-style: disc inside !important;
	padding: 0 20px;
}
ul.bullet-points li {	
	padding: 5px 0;
}
.learn-article-video-popup {
	position: fixed;
	left: 0 !important;
	top: 30% !important;
	margin: 0 auto;
	width: 100%;
}
.cook-recipe-selection.scroll-content.ionic-scroll.normal-padding {
	padding-top: 10px;
}
.learn-tab .button-bar {
	margin-bottom: 12px;
}
.training-video-item h2, .training-video-item p {
	white-space: normal;
}
img.video-thumbnail {
	height: 66px;
	width: auto;
}
h2.chapter-number {
    font-size: 100%;
    font-weight: 300;	
}
.recipe-selection-arrow.chapter {
	top: 35%;
}
.recipe-categories .row .col img {
	width: 80px;
}
/*********TIPS ITEM PAGE*****************/
/**********************************/
.individual-recipe-in-list.education-item h2 {
	white-space: normal;
}

.education-item .icon {
	font-size: 22px;
	color: $balanced;
	border: 2px solid $balanced;
	border-radius: 50%;
	max-height: 34px;
    top: 25%;
}
.full-text-display p {
	white-space: normal !important
}


/*************RECIPES TAB***************/
/**************************************/
.recipe-category-img {
	width: 80px;
}
.recipe-categories.item {
	padding: 0;
}
.recipe-categories .row {
	height: 80px;
}
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.recipe-category-cover-image {
	flex: 0 0 28%;
	max-width: 28%;
	padding: 0;
}
.recipe-categories .col-55 {
	padding-left: 10px;
}
/*************ACCOUNT TAB***************/
/**************************************/
.cook-recipe-selection.account-tab.scroll-content.ionic-scroll {
	padding-top: 10px;
}
.account-tab .button-bar {
	margin-bottom: 10px;
}
.dietary-preference.item-checkbox {
	padding: 10px 0 10px 50px;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.social-login-buttons .button {
	width: 120px;
}
.login-screen .login-signup.button {
	margin: 0;
}

/***************************************/
/*WALKTHROUGH  & INTRO SLIDES */
.intro-slide-background {
	background-color: #ffffff;
}
.intro-slide-background.swiper-slide {
	margin-top: 20px;
}
.swiper-slide img.skillit-logo-walkthrough {
	max-width: 50%;
}
.walkthrough-img-container {
	text-align: center;
}
.walkthrough-img-container img {
	max-width: 45%;
	margin: 0 auto;
}
h3.walkthrough-top-header {
	color: $balanced;
	text-align: center;
	margin: 20px 8px 10px;
}
p.walkthrough-subheader {
	text-align: center;
	margin: 0 10px 10px;
	font-size: 16px;
	height: 50px;
}
.walkthrough-slider-dots {
	display: inline-block;
	margin: 0 2px;
}
.walkthrough-slider-dots .fa-inverse {
	color: $balanced;
	margin: 0 1px;
}
.walkthrough-slider-dots .fa-lg {
	font-size: 1em;
}
.button.get-cooking {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    margin: 20px 0 0;	
}
.button.skip-button {
    background-color: transparent;
}
h2.intro-slide-header {
	color: $balanced;
	text-align: center;
}
.intro-slide-subheader {
	text-align: center;
	margin: 0px 16px 10px;	
	font-size: 18px;
	line-height: 23px;
}
.intro-wrapper {
	position: absolute;
	top: 20%;
}
.login-screen-walkthrough h2.recipe-category {
	color: $balanced;
	text-align: center;
	margin-top: 30px;
}
.login-screen-walkthrough p {
	font-size: 18px;
	margin: 0 10px 10px;
}
.login-screen-walkthrough .list {
	margin: 0 20px 20px;
	border: 1px solid #ffffff;
}
.login-screen-walkthrough .list .item.item-input {
	background-color: transparent;
}
.walkthrough-login-signup {
	width: 80%;
	font-size: 20px;
}
.final-walkthrough-slide {
	margin-top: 100px;
}
/**************************************/
/*RESPONSIVE*/
/*recipe selection tab*/
@media (min-width: 374px) {
	img.video-thumbnail {
		height: 80px;
		width: auto;
	}
	.cook-tab.scroll-content.ionic-scroll, .edit-byo.scroll-content.ionic-scroll, .add-side.scroll-content.ionic-scroll {
		height: 80%;
	}
	.platform-android .cook-tab.scroll-content.ionic-scroll, .platform-android .edit-byo.scroll-content.ionic-scroll, .platform-android .add-side.scroll-content.ionic-scroll {
		height: 75%;
	}
	.bottom-nav-buttons-cook-tab .button {	
	    min-width: 144px;
	}		
	.button.close-video {
	    bottom: 34%;
	    left: 37%;
	}	
	.recipe-categories .row .col img {
		width: 90px;
	}
	.recipe-categories .row {
		height: 90px;
	}
	.recipe-category-cover-image {
		flex: 0 0 27%;
		max-width: 27%;
	}	
	.recipe-badges-container img {
	    width: 120px;
	    display: block;
	    margin: 0px 0 5px;
	}	
	p.walkthrough-subheader {
		font-size: 18px;
	}
	.button.get-cooking {
	    margin: 30px 0 10px;	
	}	
	.walkthrough-img-container img {
		max-width: 50%;
	}
}
