/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #ef4734 !default;
$energized:                       #f0b840 !default;
$assertive:                       #0C7C59 !default;
$royal:                           #0C7C59 !default;
$dark:                            #444 !default;
// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

/**********************************/
/*FONTS*/
h2.ingredient-type-heading, h3.recipe-category, .cook-present-instructions h3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 50px;
	color: $balanced;
}
.cook-present-instructions h3 {
	font-size: 35px;
}
div, p, .individual-recipe-in-list h2, h1, .button {
	font-family: 'Palanquin', sans-serif;
}
.individual-recipe-in-list h2, .cook-present-instructions h1, .popover h1, .seasoning-selector-popup ion-header-bar, .seasoning-selector-popup h3, div.header-item.title {
	font-family: 'Pompiere', sans-serif;
}
.bar .title {
	font-size:23px;
	font-weight: bold;
}

/**********************************/
/*BOTTOM NAV TABS*/
.tab-nav.tabs {
	color: $balanced;
}

/***********************************/
/*HEADER*/
ion-nav-back-button.button-clear {
	border-color: #ffffff;
	border-radius: 50%;
}
/**********************************/
/*COOK TAB*/
/*general*/
.button.reset {
	border-color: #ffffff;
}

/*slider dots*/
.slider-pager {
	top: 2px;
	display: none;
	
}
.slider-pager .slider-pager-page {
	color: $balanced;	
}

/*next & prev buttons */
.button {
	min-height: 0;
}
.prev-nav-button {
	float: left;
}
.next-nav-button {
	float: right;
}
.bottom-nav-buttons-cook-tab {
    position: fixed;
    bottom: 48px;
    z-index: 5000;
    width: 100%;
    background-color: transparent;
}

.bottom-nav-buttons-cook-tab .button {	
    background-color: $balanced;
    color: #ffffff;
    border-radius: 50%;
    min-width: 25px;
    padding: 0 14px;
}
.bottom-nav-buttons-cook-tab .button:active {	
    background-color: #ffffff;
    color: $balanced;
}
.float-right {
	float: right;
}


/*ingredient input tabs*/
.padding.cook-tab {
	padding-top: 10px;
}
.ingredient-type-heading {	
	color: $balanced;
}
div.ingredient-form-selection {
	display: inline;
}
.ingredient-form-selection .checkbox input {
	display: block;
	margin: 0 auto;
}
.ingredient-form-items {
	padding: 0 5px;
}
.ingredient-form-type {
	opacity: 0.4;
}
.grouping-of-ingredient-forms {
	padding-left: 23px;
}
.grouping-of-ingredient-forms input.checkbox {
	border-color: $balanced;
	color: $balanced;
	background-color: #ffffff;
}
.cook-tab .list .item {
	border-left: none;
	border-right: none;
}
.ingredient-checkbox-row {
	margin: 0 20px;
}
.cook-tab .checkbox {
	padding-left: 20px;
}
.cook-tab .item-content {
	padding-left: 7px;
}
h2.ingredient-type-heading {
	font-size: 45px;
	margin:0 0 0 20px;
}
/*recipe selection tab*/
.individual-recipe-in-list {
	box-shadow: 0px 1px 3px #999999;
	margin-bottom: 10px;
	white-space: nowrap;
}
.individual-recipe-in-list img {
	width: 80px;
	height: 80px;
}
.col-36 {
	flex: 0 0 33.3333%;
	max-width: 39%;
}
.cook-recipe-selection .item, .cook-recipe-selection .item p, .cook-recipe-selection .item h2 {
	white-space: normal; 
}
.cook-recipe-selection .item {
	padding: 2px;
}
.individual-recipe-in-list p {
	font-size: 13px;
}
.item h2 {
	font-size: 22px;	
}
.recipe-description-time p:first-child {
	margin-bottom: 10px;
}
.cook-recipe-selection h3:first-child {
	margin-top: 20px;
}
.cook-recipe-selection .item-icon-right .icon {
	position: static;
	color: $balanced;
}
.individual-recipe-in-list {
	margin: 10px 0;
}
.cook-recipe-selection button {
	font-family: 'pompiere', sans-serif;
	font-size: 21px;	
}
.cook-recipe-selection .col-50.col-center {
	text-align: center;
}
/*recipe instructions page*/
.recipe-instructions {
	box-shadow: 0px 1px 3px #999999;
	margin-bottom: 10px;
	white-space: normal;
}
.instruction-step-tip-icon {
	position: absolute;
    bottom: 7px;
    right: 7px;
    color: $balanced;
    font-size: 25px;
}
.recipe-instructions.item, .recipe-instructions.item p {
	white-space: normal; 
}
.recipe-instructions p {
	font-size: 15px;
	max-width: 93%;
}
.recipe-video {
	margin: 0 auto;
}
.cook-present-instructions ul {
	list-style-type: disc;
}
.button-spice-up {
	border-color: #ef4734;
    background-color: transparent;
    color: #ef4734;
    margin-bottom: 10px;
    font-family: 'pompiere', sans-serif;
    font-size: 21px;
}
.button-spice-up:hover, .button-spice-up:active {
	border-color: #ef4734;
    background-color: #ef4734;
    color: #ffffff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*popover*/

/*.popover {
	left: 5% !important;
	top: 25% !important;	
	height: 300px !important;
	width: 300px !important;
}*/
.modal.video-step-tip {
	background-color: rgba(255, 255, 255, 0.7);
}
#modal-player {
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	margin: 0 auto;
}
.popover p {
	white-space: normal;
}
.popover .scroll-content {
	padding: 10px 20px;
	background-color: #ffffff;
}
.bar.bar-header {
	border-bottom: 1px solid $balanced;
}
.popover p {
	font-size: 16px;
	line-height: 22px;
}
.popover.seasoning-selector-popup {
	height: 500px !important;
	top: 10% !important;
}
.image-modal {
    width: 100% !important;
    height: 50%;
    top: 25% !important;
    left: 0 !important;
}
.popover ion-content.scroll-content {
	border-radius: 0 !important;
}
.popover-arrow {
	display: none !important;
}
/*seasoning profile selector*/
.popover .bar h1.title, .seasoning-selector-popup h3 {
	font-size: 23px;
}



/**************************************/
/*RESPONSIVE*/
/*recipe selection tab*/
@media (min-width: 374px) {
	.individual-recipe-in-list img {
		width: 100px;
		height: 100px;
	}
}
