<ion-view view-title="Account">
  <ion-nav-buttons side="secondary">
    <button ng-if="isAuthenticated()" ng-click="logout()" class="button top-back-button reset">Log Out</button>
  </ion-nav-buttons>
  <ion-content class="padding cook-recipe-selection account-tab">
    <!-- do you want padding? -->
    <div ng-if="isAuthenticated()">
      <div class="button-bar">
        <a ng-class="getFavRecipesButtonClass()" ng-click="selectFavRecipes()">Favorite Recipes</a>
        <a ng-class="getAccountInfoButtonClass()" ng-click="selectAccountInfo()">Account</a>
      </div>
    </div>
    <login-directive ng-if="!isAuthenticated()"></login-directive>
    <div ng-if="isAuthenticated()">
      <div ng-if="favRecipeSelected">
        <h2 class="recipe-category">Your Favorite Recipes</h2>
        <div ng-if="noFavoriteRecipes()">
          <p>You don't have any Favorite Recipes... go find a recipe that you like, and then 'Favorite' it to see it here!</p>
        </div>
        <div ng-if="!noFavoriteRecipes()">
          <ion-list>
            <div ng-repeat="recipe in favoriteRecipes">
              <recipe-item recipe="recipe" iconclass="" showdatefeatured="false" ng-click="cookFavoriteRecipe(recipe)" isfavorite="true"></recipe-item>
              <button class="button" ng-click="unfavoriteRecipe(recipe)">Remove</button>
            </div>
          </ion-list>
        </div>
      </div>
      <div ng-if="accountInfoSelected">
          <!--p>Dietary Preferences</p>
          <p>{{getDietaryPreferencesString()}}</p>
          <button class="button" ng-click="editPreferences($event)">Edit Preferences</button-->

          <ion-list>
            <p>Dietary Preferences</p>
            <ion-checkbox class="checkbox-balanced" ng-repeat="pref in dietaryPreferences" ng-model="pref.isMarked" ng-click="changeUserInfo()"><h3>{{pref.title}}</h3></ion-checkbox>
          </ion-list>
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-change="changeUserInfo()" ng-model="user.firstName" placeholder="First Name"/>
          </label>
          <label class="item item-input">
            <input type="text" ng-change="changeUserInfo()" ng-model="user.lastName" placeholder="Last Name"/>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Age
            </div>
            <select ng-model="user.age" ng-change="changeUserInfo()" ng-options="age for age in ages">
            </select>
          </label>

        </div>
        <p style="text-align: center"><button class="button button-spice-up-add-side login-signup" ng-disabled="!userInfoHasChanged()" ng-click="saveUserInfo()">Save</button></p>
      </div>
    </div>

  </ion-content>
</ion-view>
