<ion-view hide-back-button="true" view-title="Learn">
  <!-- do you want padding? -->
  <ion-nav-buttons side="primary">
    <button ng-click="navigateBack()" class="button top-back-button"><i class="ion-arrow-left-c top-back-button-arrow" aria-hidden="true"></i></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h2 class="recipe-category no-bottom-margin">{{chapter.name}}</h2>
    <p>{{chapter.description}}</p>
    <ion-list>
      <lesson-item ng-repeat="lesson in lessons" lesson="lesson" ng-click="selectLesson(lesson)"></lesson-item>
    </ion-list>
  </ion-content>
</ion-view>
