<ion-view hide-back-button="true">
	<ion-nav-title><img class="skillit-logo-nav-bar" src="main/assets/images/skillit-white-text-small.png"></ion-nav-title>	
    <!-- do you want padding? -->
    <ion-content class="padding learn-tab"> 
	  	<h1 class="learn-title">Skillit Cooking School</h1>
	    <ion-list>
	      <chapter-item ng-repeat="chapter in chapters" chapter="chapter" index="$index" ng-click="selectChapter(chapter, $index)"></chapter-item>
	    </ion-list>
    </ion-content>
</ion-view>
