<ion-view view-title="What Sounds Good?">
  <!-- do you want padding? -->
  <ion-content class="padding cook-recipe-selection">
    <div class="button-bar">
      <a ng-class="getAlaCarteButtonClass()" ng-click="selectAlaCarte()">A La Carte</a>
      <a ng-class="getCompleteButtonClass()" ng-click="selectComplete()">Full Dishes</a>
    </div>
    <div ng-if="alaCarteSelected">
      <ion-list>
        <ion-item ng-repeat="recipe in alaCarteRecipes" class="item-thumbnail-left item-icon-right individual-recipe-in-list" ng-click="alaCarteItemClicked($index)">
          <img src="{{recipe.mainPictureURL}}">        
          <div class="row">
            <div class="col col-36">  
              <img src="{{recipe.mainPictureURL}}">
            </div>
            <div class="col col-54 col-center">
              <h2>{{recipe.name}}</h2>              
            </div>
            <div class="col col-10 col-center">
              <i class="icon checkbox-balanced ng-class: alaCarteClass($index);"></i>              
            </div>
          </div>  
          <div class="row">
            <div class="col">
              <div class="recipe-description-time">
                <p>{{recipe.description}}</p>
                <p><b>Prep Time</b>: {{recipe.prepTime}} mins <b>Total Time</b>: {{recipe.totalTime}} mins</p>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <button ng-click="cookAlaCarte()" ng-disabled="noneSelected()" class="button button-balanced">Let's Skillit!</button>
      <button ng-click="selectComplete()" class="button button-balanced">Add a Full Meal</button>
    </div>
    <div ng-if="!alaCarteSelected">
      <h3 class="recipe-category">Build Your Own</h3>
      <ion-list>
        <ion-item ng-repeat="recipe in BYORecipes" class="item-thumbnail-left individual-recipe-in-list" ng-click="recipeSelected(recipe)">
          <div class="row">
            <div class="col col-36">  
              <img src="{{recipe.mainPictureURL}}">
            </div>
            <div class="col col-center">
              <h2>{{recipe.name}}</h2>
            </div>
          </div>  
          <div class="row">
            <div class="col">
              <div class="recipe-description-time">
                <p>{{recipe.description}}</p>
                <p><b>Prep Time</b>: {{recipe.prepTime}} mins <b>Total Time</b>: {{recipe.totalTime}} mins</p>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <h3 class="recipe-category">Full Recipes</h3>
      <ion-list>
        <ion-item ng-repeat="recipe in fullRecipes" class="individual-recipe-in-list" ng-click="recipeSelected(recipe)">
          <div class="row">
            <div class="col col-36">  
              <img src="{{recipe.mainPictureURL}}">
            </div>
            <div class="col col-center">
              <h2>{{recipe.name}}</h2>
            </div>
          </div>  
          <div class="row">
            <div class="col">
              <div class="recipe-description-time">
                <p>{{recipe.description}}</p>
                <p><b>Prep Time</b>: {{recipe.prepTime}} mins <b>Total Time</b>: {{recipe.totalTime}} mins</p>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
