<ion-view view-title="Let's Cook" class="cook-present-instructions">
  <!-- do you want padding? -->
  <ion-content class="padding">
    <h1>{{combinedRecipe.name}}</h1>
    <iframe ng-if="combinedRecipe.mainVideoURL" width="300" height="169" ng-src="{{combinedRecipe.mainVideoURL | sourceTrusted}}" frameborder="0" allowfullscreen></iframe>
    <iframe ng-if="combinedRecipe.mainVideoURLs" ng-repeat="videoURL in combinedRecipe.mainVideoURLs track by $index" width="300" height="169" ng-src="{{videoURL | sourceTrusted}}" frameborder="0" allowfullscreen></iframe>    
    <br/>
    <p><b>Prep Time</b>: {{combinedRecipe.prepTime}} mins <b>Total Time</b>: {{combinedRecipe.totalTime}} mins</p>
    <h3>Ingredient List</h3>
    <div ng-repeat="recipeIngredients in ingredientsForRecipes">
      <h5 ng-if="combinedRecipe.mainVideoURLs">{{recipeIngredients.name}}</h5>
      <ul> 
        <li ng-repeat="ingredient in recipeIngredients.ingredients">
          &nbsp;&nbsp;•{{ingredient}}
        </li>
      </ul>
    </div>
    <br/>
    <div ng-if="combinedRecipe.canAddSeasoningProfile">
      <button class="button button-balanced" ng-click="seasoningProfilePopup($event)">Choose Seasoning Profile</button>
      <p>Current Seasoning: {{seasoningProfile.name}}</p>
    </div>
    <ion-list class="list">
      <div ng-repeat="step in combinedRecipe.stepList">
        <ion-item class="recipe-instructions" ng-if="isSingleStep(step) && !step.isEmpty" ng-click="showTip(step, $event)">
          <p><b>Step {{step.stepNumber}}:</b> {{step.text}}</p>
          <i ng-if="step.hasTip" class="ion-information-circled instruction-step-tip-icon"></i>
          <i ng-if="step.hasVideo" class="ion-videocamera instruction-step-tip-icon"></i>
          <i ng-if="step.stepType === 'Season' && combinedRecipe.canAddSeasoningProfile" class="ion-erlenmeyer-flask instruction-step-tip-icon"></i>
        </ion-item>
        <ion-item class="recipe-instructions" ng-if="!isSingleStep(step) && !step.isEmpty" ng-repeat="subStep in step.textArr" ng-click="showTip(subStep, $event)">
          <p><b>Step {{subStep.stepNumber}}:</b> {{subStep.text}}</p>
          <i ng-if="subStep.hasTip" class="ion-information-circled instruction-step-tip-icon"></i>
          <i ng-if="subStep.hasVideo" class="ion-videocamera instruction-step-tip-icon"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>


