
  <ion-view view-title="What Do Ya Got?" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">
    <ion-nav-buttons side="primary">
      <button ng-if="notBeginningSlide()" class="button" ng-click="slidePrev()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button reset" ng-click="resetIngredientSelection()">Reset</button>
    </ion-nav-buttons>
    <div class="bottom-nav-buttons-cook-tab row">   
      <div class="col col-33">   
        <button ng-click="slidePrev()" ng-disabled="isBeginningSlide()" class="button prev-nav-button"><i class="ion-arrow-left-c" aria-hidden="true"></i></button>
      </div>
      <div class="col col-33">        
      </div>
      <div class="col col-33">
        <button ng-if="hasMoreSlides()" ng-click="slideNext()" class="button float-right"><i class="ion-arrow-right-c" aria-hidden="true"></i></button>
        <button ng-if="!hasMoreSlides()" ng-click="toRecipeSelection()" class="button float-right"><i class="ion-arrow-right-c" aria-hidden="true"></i></button>      
      </div>
    </div>
    <!-- do you want padding? -->
    
        <!-- content goes here -->
      <ion-slides options="slideOptions" slider="data.slider" on-slide-changed="slideHasChanged($index)">
        <ion-slide-page ng-repeat="(name, ingredients) in ingredientCategories">
          <ion-content class="has-header padding cook-tab" scroll=true>
          <div class="wrap-class" ng-class="getWrapClass($index)">
            <h2 ng-click="logIngredients(ingredients)" class="ingredient-type-heading">{{name}}</h2>
            <ion-list>
              <div ng-repeat="ingredient in ingredients" class="ingredient-checkbox-row">
                <ion-checkbox class="checkbox-balanced" ng-model="ingredient.isSelected">
                  {{ingredient.name}}
                </ion-checkbox>
                <ion-item ng-if="canHaveForms(ingredient)" class="ingredient-form-items">  
                  <div class="grouping-of-ingredient-forms">              
                    <div ng-repeat="form in ingredient.ingredientForms" class="ingredient-form-selection">                  
                      <label class="checkbox checkbox-balanced">
                      <span class="ingredient-form-name">{{form.name}}</span>
                       <input class="ingredient-form-type" type="checkbox" ng-model="form.isSelected">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                     </label>
                    </div>
                </div>
              </ion-item>
              </div>
            </ion-list>
            </ion-content>
        </ion-slide-page>
      </ion-slides>
  </ion-view>
