<ion-item ng-if="minimized" class="item-icon-right individual-recipe-in-list education-item" ng-click="toggleMinimized()">
  <img ng-if="tip.picture.url" ng-src="{{tip.picture.url}}">
  <i class="icon ion-plus-round"></i>
  <h2>{{tip.title}}</h2>
  <p>{{tip.text}}</p>
  <!--<p ng-if="showdatefeatured">{{tip.dateFeatured}}</p>-->
</ion-item>


<ion-item ng-if="!minimized" class="item-icon-right individual-recipe-in-list education-item full-text-display" ng-click="toggleMinimized()">
  <img ng-if="tip.picture.url" ng-src="{{tip.picture.url}}">
  <p class="subdued" ng-if="tip.picture.url">{{tip.picture.caption}}</p>
  <i ng-if="minimizable" class="icon ion-minus-round"></i>
  <h2>{{tip.title}}</h2>
    <p>{{tip.text}}</p>
</ion-item>

<!--<div ng-if="!minimized" class="list card item-icon-right individual-recipe-in-list" ng-click="toggleMinimized()">
  <div class="item">
    <h2>{{tip.title}}</h2>
  </div>
  <div class="item item-body">
    <img ng-if="tip.picture.url" ng-src={{tip.picture.url}}>
    <p class="subdued" ng-if="tip.picture.url">{{tip.picture.caption}}</p>
    <p>{{tip.text}}</p>
    <i ng-if="minimizable" class="icon ion-minus-round"></i>
  </div>
</div>-->
