<ion-view view-title="Edit Ingredients" on-swipe-right="navigateBack()">
  
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="navigateBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <h2>Edit Ingredients for {{BYOName}}</h2>
    <div ng-repeat="type in BYOIngredientTypes">
      <h4>{{type.typeName}}</h4>
      <p>Minimum Needed: {{type.minNeeded}}</p>
      <ion-list>
        <ion-checkbox ng-repeat="ingredient in type.ingredients" ng-model="ingredient.useInRecipe" ng-disabled="isCheckboxDisabled(type)">{{ingredient.name}}</ion-checkbox>
      </ion-list>
    </div>
    <button class="button button-default" ng-click="changeIngredients()" ng-disabled="!selectionHasChanged()">Change Your Ingredients</button>
    <button class="button button-default" ng-click="cancel()">{{getCancelText()}}</button>
  </ion-content>
</ion-view>
