<ion-item ng-if="minimized" class="item-icon-right individual-recipe-in-list education-item" ng-click="toggleMinimized()">
  <img ng-if="item.picture.url" ng-src="{{item.picture.url}}">
  <i class="icon ion-plus-round"></i>
  <h2>{{item.title}}</h2>
  <p>{{item.text}}</p>
  <!--<p ng-if="showdatefeatured">{{item.dateFeatured}}</p>-->
</ion-item>

<ion-item ng-if="!minimized" class="item-icon-right individual-recipe-in-list education-item full-text-display" ng-click="toggleMinimized()">
    <youtube video="item.video" playerid="getPlayerId()" ng-if="item.video.videoId"></youtube>
    <p class="subdued" ng-if="item.video.videoId">{{item.video.caption}}</p>
    <img ng-if="item.picture && item.picture.url" ng-src={{item.picture.url}}>
    <p class="subdued" ng-if="item.picture.url">{{item.picture.caption}}</p>
    <h2>{{item.title}}</h2>
    <div ng-repeat="line in item.lines">
      <p><b ng-if="line.toBold">{{line.toBold}}:</b>{{line.copy}}</p>
      <br />
    </div>
    <i ng-if="minimizable" class="icon ion-minus-round"></i>
</ion-item>

<!--<div ng-if="!minimized" class="list card individual-recipe-in-list" ng-click="toggleMinimized()">
  <div class="item">
    <h2>{{item.title}}</h2>
  </div>
  <div class="item item-body">
    <iframe ng-if="item.video && item.video.url" width="300" height="169" ng-src="{{item.video.url | sourceTrusted}}" frameborder="0" allowfullscreen></iframe>
    <p class="subdued" ng-if="item.video.url">{{item.video.caption}}</p>
    <img ng-if="item.picture && item.picture.url" ng-src={{item.picture.url}}>
    <p class="subdued" ng-if="item.picture.url">{{item.picture.caption}}</p>
    <p>{{item.text}}</p>
    <i ng-if="minimizable" class="icon ion-minus-round"></i>
  </div>
</div>-->
