<ion-popover-view class="image-modal">
  <ion-header-bar>
    <h1 class="title">{{item.title}}</h1>
    <button class="button close-x-button" ng-click="closeItemPopover()">X</button>
  </ion-header-bar>
  <ion-content class="padding">
    <p ng-if="item.video && item.video.videoId" style="text-align: center"><youtube video="item.video" playerid="'glossarypopover'"></youtube></p>
    <p class="subdued" ng-if="item.video && item.video.videoId">{{item.video.caption}}</p>
    <img ng-if="item.picture && item.picture.url" ng-src={{item.picture.url}}>
    <p class="subdued" ng-if="item.picture.url">{{item.picture.caption}}</p>
    <div ng-repeat="line in item.lines">
      <p><b ng-if="line.toBold">{{line.toBold}}:</b>{{line.copy}}</p>
      <br />
    </div>
  </ion-content>
<ion-popover-view class="image-modal">
