<ion-slides options="{pagination: false}" slider="data.slider">
    <!--intro-slide ng-repeat="slide in slides" header="slide.header" subtitle="slide.subtitle" screenshot="getScreenshot(slide)" index="$index" slide-count="slideCount" modal="modal" slider="slider"></intro-slide-->
    <ion-slide-page class="intro-slide-background">
      <div class="intro-wrapper">
        <h2 class="intro-slide-header">Ready to Get Cooking,<br>Good Looking?</h2>
        <p class="intro-slide-subheader">Skillit is about giving beautiful people like yourself the skills to cook healthy and tasty meals. Why? Because you deserve it, you sexy fool.</p>
        <div class="walkthrough-img-container">
          <!--<div class="walkthrough-slider-dots" ng-repeat="n in slideCount track by $index">
            <i ng-class="getDotClass(0, $index)" ng-click="goToSlide($index)" aria-hidden="true"></i>
          </div>-->
        </div>
        <div class="walkthrough-img-container">
          <button class="button get-cooking" ng-click="startIntro()">Let's Go!</button>
        </div>
      </div>
      <!--<div class="walkthrough-img-container">
        <button class="button get-cooking" ng-click="signUp()">Get Cooking</button>
      </div>
      <div class="walkthrough-img-container">
        <button class="button skip-button" ng-click="getCooking()">Skip</button>
      </div>-->
    </ion-slide-page>
    <ion-slide-page ng-repeat="slide in slides" ng-init="slideIndex = $index" class="intro-slide-background">
      <ion-content scroll="true">
        <h3 class="walkthrough-top-header">{{slide.header}}</h3>
        <p class="walkthrough-subheader">{{slide.subtitle}}</p  >
        <p class="walkthrough-img-container"><img ng-src="{{getScreenshot(slide)}}"></p>
        <div class="walkthrough-img-container">
          <div class="walkthrough-slider-dots" ng-repeat="n in slideCount track by $index">
            <i ng-class="getDotClass(slideIndex, $index)" ng-click="goToSlide($index+1)" aria-hidden="true"></i>
          </div>
        </div>
        <div class="walkthrough-img-container">
          <button class="button get-cooking" ng-click="signUp()">Get Cooking</button>
        </div>
        <div class="walkthrough-img-container">
          <button class="button skip-button" ng-click="getCooking()">Skip</button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page class="intro-slide-background">
      <ion-content scroll="true">
        <login-directive is-walkthrough="true"></login-directive>
        <div class="walkthrough-img-container">
          <button class="button skip-button" ng-click="closeIntro()">Skip</button>
        </div>
      </ion-content>
    </ion-slide-page>
</ion-slides>