<ion-view hide-back-button="true" view-title="Learn">
  <ion-nav-buttons side="primary">
    <button ng-click="navigateBack()" class="button top-back-button"><i class="ion-arrow-left-c top-back-button-arrow" aria-hidden="true"></i></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <h2 class="education-title">{{lesson.name}}</h2>
    <p>{{lesson.description}}</p>
    <ion-list>
      <div ng-repeat="item in items">
        <how-to-shop-item ng-if="item.itemType === 'howToShop'" item="item" minimizable="true"></how-to-shop-item>
        <glossary-item ng-if="item.itemType === 'glossary'" listindex="$index" item="item" minimizable="true"></glossary-item>
        <daily-tip-item ng-if="item.itemType === 'tip'" tip="item" showdatefeatured="false" minimizable="true"></daily-tip-item>
        <training-video-item ng-if="item.itemType === 'trainingVideo'" video="item"></training-video-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
