<ion-item class="recipe-categories" ng-if="isRecipeCollection" ng-click="">
  <div class="recipe-collection-container">
    <h2>{{collection.name}}</h2>
    <img class="recipe-collection-image" ng-if="collection.pictureURL" ng-src="{{collection.pictureURL}}"> 
  </div>  
</ion-item>

<ion-item class="education-collection item-thumbnail-left" ng-if="!isRecipeCollection" ng-click="">
  <img ng-if="collection.pictureURL" ng-src="{{collection.pictureURL}}">
  <h2 class="education-title">{{collection.name}}</h2>
  <p>{{collection.description}}</p>
  <i class="icon ion-chevron-right"></i>
</ion-item>