
  <ion-view hide-back-button="true" view-title="Learn">
    <!-- do you want padding? -->
    <ion-content class="padding learn-tab">
      <div class="button-bar">
        <a ng-class="getTrainingVideoClass()" ng-click="selectTrainingVideo()">Videos</a>
        <a ng-class="getHowToShopClass()" ng-click="selectHowToShop()">How To</a>
        <a ng-class="getGlossaryClass()" ng-click="selectGlossary()">Glossary</a>
      </div>
      <div ng-if="trainingVideoSelected">
        <item-collections collections="trainingVideoCollections" item-type="'trainingVideo'"></item-collections>
      </div>
      <div ng-if="howToShopSelected">
        <item-collections collections="howToShopCollections" item-type="'howToShop'"></item-collections>
      </div>
      <div ng-if="glossarySelected">
        <item-collections collections="glossaryCollections" item-type="'glossary'"></item-collections>
      </div>
    </ion-content>
  </ion-view>
