<div ng-class="getLoginClasses()">
  <h2 class="recipe-category font-weight-600 center">{{getTitle()}}</h2>
  <p class="account-tab-text">{{signUpOrLoginSubheader()}}</p>  
  <br>
  <p class="account-tab-text" style="text-align: center; font-weight: 700">{{signUpOrLoginText()}}</p>
  <div class="row social-login-buttons">
    <div class="col col-50"><p style="text-align: center"><button class="button icon-right facebook" ng-click="signInFacebook()"><i class="icon ion-social-facebook"></i> Facebook</button></p></div>
    <div class="col col-50"><p style="text-align: center"><button class="button icon-right google" ng-click="signInGoogle()"><i class="icon ion-social-google"></i> Google</button></p></div>
  </div>
  <br>
  <p class="account-tab-text" style="text-align: center; font-weight: 700">Too Cool for Social Media?<br>We Get Down with Email, too:</p>
  <div class="list login-text-field">
    <label class="item item-input">
      <input type="text" ng-model="email" placeholder="Email" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="password" placeholder="Password (at least 8 characters)"/>
      <i ng-if="signInPasswordJustRight" class="fa fa-check text-success" aria-hidden="true"></i>
      <i ng-if="signInPasswordTooShort" class="fa fa-times text-danger" aria-hidden="true"></i>
    </label>
    <label ng-show="isSignUp" class="item item-input">
      <input type="text" ng-model="passwordConfirm" placeholder="Confirm Password (Sign Up only)"/>
      <i ng-if="passwordConfirmGood" class="fa fa-check text-success" aria-hidden="true"></i>
      <i ng-if="passwordConfirmBad" class="fa fa-times text-danger" aria-hidden="true"></i>
    </label>
  </div>
  <div class="row">
    <div ng-if="isSignIn" class="col"><p style="text-align: center"><button class="button button-spice-up-add-side login-signup" ng-click="signIn()" ng-disabled="isSignInDisabled()">Log In</button></p></div>
    <div ng-if="isSignUp" class="col"><p style="text-align: center"><button class="button button-spice-up-add-side login-signup" ng-click="signUp()" ng-disabled="isSignUpDisabled()">Sign Up</button></p></div>
  </div>  
  <p ng-if="isSignIn" style="text-align: center"><button class="button skip-button" ng-click="resetCredentials()">Reset Password</button></p>
  </div>
</div>