<div ng-class="getLoginClasses()">
  <h2 class="recipe-category">{{getTitle()}}</h2>
  <p>{{signUpOrLoginSubheader()}}</p>  
  <p style="text-align: center; font-weight: 700">{{signUpOrLoginText()}}</p>
  <div class="row social-login-buttons">
    <div class="col col-50"><p style="text-align: center"><button class="button icon-right button-royal" ng-click="signInFacebook()">Facebook</button></p></div>
    <div class="col col-50"><p style="text-align: center"><button class="button icon-right button-assertive" ng-click="signInGoogle()">Google</button></p></div>
  </div>
  <br>
  <p style="text-align: center; font-weight: 700">Too Cool for Social Media?<br>We Get Down with Email, too:</p>
  <div class="list">
    <label class="item item-input">
      <input type="text" ng-model="email" placeholder="Email" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="password" placeholder="Password"/>
    </label>
    <label ng-if="isSignUp" class="item item-input">
      <input type="text" ng-model="passwordConfirm" placeholder="Confirm Password (Sign Up only)"/>
    </label>
  </div>
  <div class="row">
    <div class="col col-50"><p style="text-align: center"><button ng-if="isSignIn" class="button button-spice-up-add-side login-signup" ng-click="signIn()" ng-disabled="isSignInDisabled()">Log In</button></p></div>
    <div class="col col-50"><p style="text-align: center"><button ng-if="isSignUp" class="button button-spice-up-add-side login-signup" ng-click="signUp()" ng-disabled="isSignUpDisabled()">Sign Up</button></p></div>
  </div>  
  <p style="text-align: center"><button ng-if="isSignIn" class="button button-spice-up-add-side reset-password" ng-click="resetCredentials()">Reset Password</button></p>
  </div>
</div>