<div>
  <div class="list">
    <label class="item item-input">
      <input type="text" ng-model="email" placeholder="Email" />
    </label>
    <label class="item item-input">
      <input type="text" ng-model="password" placeholder="Password"/>
    </label>
    <label class="item item-input">
      <input type="text" ng-model="passwordConfirm" placeholder="Confirm Password (Sign Up only)"/>
    </label>
  </div>
  <div class="row">
    <div class="col"><p style="text-align: center"><button class="button icon-right ion-social-facebook button-royal" ng-click="signInFacebook()">Log In with Facebook</button></p></div>
  </div>
  <div class="row">
    <div class="col"><p style="text-align: center"><button class="button icon-right ion-social-googleplus button-assertive" ng-click="signInGoogle()">Log In with Google</button></p></div>
  </div>  
  <div class="row">
    <div class="col col-50"><p style="text-align: center"><button class="button button-spice-up-add-side login-signup" ng-click="signIn()" ng-disabled="isSignInDisabled()">Log In</button></p></div>
    <div class="col col-50"><p style="text-align: center"><button class="button button-spice-up-add-side login-signup" ng-click="signUp()" ng-disabled="isSignUpDisabled()">Sign Up</button></p></div>
  </div>  
  <div class="row">
    <div class="col"><p style="text-align: center"><button class="button button-spice-up-add-side reset-password" ng-click="resetCredentials()">Reset Password</button></p></div>    
  </div>
</div>