<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reset Password</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-if="enterEmail">
    <h2>Enter Your Email</h2>
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="data.resetEmail" placeholder="Email" />
        </label>
      </div>
      <button class="button" ng-click="requestReset()" ng-disabled="!emailEntered()">Request Password Reset</button>
    </div>
    <div ng-if="!enterEmail">
      <p>You've been sent an email with a reset code. Enter it below.</p>
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="data.resetCode" placeholder="Reset Code (6 digits)" />
        </label>
        <label class="item item-input">
          <input type="text" ng-model="data.resetPassword" placeholder="Password" />
        </label>
        <label class="item item-input">
          <input type="text" ng-model="data.resetConfirmPassword" placeholder="Confirm Password" />
        </label>
      </div>
      <button class="button" ng-disabled="!resetIsValid()" ng-click="resetPassword()">Reset Password</button>
    </div>
    <button class="button" ng-click="cancelReset()">Cancel</button>
  </ion-content>
</ion-modal-view>
