<ion-item class="item-thumbnail-left item-icon-right individual-recipe-in-list" ng-click="">
  <div class="row">
    <div class="col col-36">  
      <img ng-src="{{recipe.mainPictureURL}}">
    </div>
    <div class="col col-center padding-left-zero">
      <h2>{{recipe.name}}</h2>
    </div>
    <div class="col col-10"></div>
  </div>  
  <div class="row">
    <div class="col col-90">
      <div ng-if="!isfavorite" class="recipe-description-time">
        <p>{{recipe.description}}</p>
        <p ng-if="showRecipeDisclaimer()" class="italic"><i>Note: {{getRecipeDisclaimer()}}</i></p>
        <p>Active Time: {{getRecipeActiveTime()}} mins | Total Time: {{getRecipeTotalTime()}} mins</p>
        <!--<p ng-if="showdatefeatured">Feature Date: {{recipe.dateFeatured}}</p>-->
      </div>
      <div ng-if="isfavorite" class="recipe-description-time">
        <p>{{getFavoriteRecipeDescription()}}</p>
        <p>Active Time: {{getRecipeActiveTime()}} mins | Total Time: {{getRecipeTotalTime()}} mins</p>
      </div>
    </div>
  </div>
      <!--<div class="col col-10 col-center">
        <i class="icon ion-chevron-right recipe-selection-arrow"></i>
    </div>-->
    <i class="ion-arrow-right-c recipe-selection-arrow" aria-hidden="true"></i>
</ion-item>
