<ion-popover-view class="seasoning-selector-popup image-modal transparent">
  <ion-header-bar>
    <h1 class="title">Spice Up Your Life</h1>
    <button class="button close-x-button" ng-click="closeSeasoningPopup()"><i class="ion-close-circled"></i></button>
  </ion-header-bar>
  <ion-content>
    <!--<h2>Current Seasoning</h2>
    <p><b>{{seasoningProfile.name}}: </b>{{getSeasoningParts(seasoningProfile)}}</p>-->
    <ion-list>
      <ion-checkbox class="individual-recipe-in-list checkbox-balanced" ng-repeat="profile in combinedRecipe.choiceSeasoningProfiles" ng-model="seasoningProfile" ng-change="changeSeasoningProfile(profile)">
        <h3>{{profile.name}}</h3>
        <p ng-repeat="spice in profile.spices"><em>• {{capitalize(spice)}}</em></p>
      </ion-checkbox>
      <p style="text-align: center"><button class="button button-spice-up-add-side" ng-if="!showOtherProfiles()" ng-click="showMoreSeasonings()">More Seasonings</button></p>
      <ion-checkbox ng-if="showOtherProfiles()" class="individual-recipe-in-list checkbox-balanced" ng-repeat="profile in seasoningProfiles" ng-model="seasoningProfile" ng-change="changeSeasoningProfileOther(profile)">
        <h3>{{profile.name}}</h3>
        <p ng-repeat="spice in profile.spices"><em>• {{spice}}</em></p>
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-popover-view>