<ion-popover-view class="seasoning-selector-popup image-modal transparent">
  <ion-header-bar>
    <h1 class="title">Choose Your Seasoning</h1>
  </ion-header-bar>
  <ion-content>
    <!--<h2>Current Seasoning</h2>
    <p><b>{{seasoningProfile.name}}: </b>{{getSeasoningParts(seasoningProfile)}}</p>-->
    <ion-list>
      <ion-checkbox class="individual-recipe-in-list" ng-repeat="profile in seasoningProfiles" ng-model="seasoningProfile" ng-change="changeSeasoningProfile(profile)">
        <h3>{{profile.name}}</h3>
        <p ng-repeat="spice in profile.spices"><em>•{{spice}}</em></p>
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-popover-view>