<ion-popover-view>
  <ion-header-bar>Select Your Seasoning</ion-header-bar>
  <ion-content>
    <h2>Current Seasoning</h2>
    <p><b>{{seasoningProfile.name}}: </b>{{getSeasoningParts(seasoningProfile)}}</p>
    <ion-list>
      <ion-radio ng-repeat="profile in seasoningProfiles" ng-model="seasoningProfile" ng-change="changeSeasoningProfile(profile)">
        <h3>{{profile.name}}</h3>
        <p><em>{{getSeasoningParts(profile)}}</em></p>
      </ion-radio>
    </ion-list>
  </ion-content>
</ion-popover-view>