<ion-popover-view class="image-modal">
  <ion-header-bar>
    <h1 class="title">{{displayStepTip.title}}</h1>
    <button class="button close-x-button" ng-click="closeTip()"><i class="ion-close-circled"></i></button>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <div ng-if="stepTipStep.stepTips.length > 1" class="button-bar">
      <a ng-repeat="stepTip in stepTipStep.stepTips" ng-class="getStepTipButtonClass($index)"
        ng-click="selectStepTip($index)"></a>
    </div>    
    <p ng-if="tipHasText()">{{displayStepTip.text}}</p>
    <h5 ng-if="tipHasVideo()">{{displayStepTip.videoTitle}}</h5>
    <youtube ng-if="tipHasVideo()" video="displayStepTip.videoInfo" playerid="'steptippopover'"></youtube>
  </ion-content>
</ion-popover-view>
