<ion-popover-view class="image-modal transparent">
  <ion-header-bar>
    <h1 class="title">{{displayStepTip.title}}</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <div ng-if="stepTipStep.stepTips.length > 1" class="button-bar">
      <a ng-repeat="stepTip in stepTipStep.stepTips" ng-class="getStepTipButtonClass($index)"
        ng-click="selectStepTip($index)"></a>
    </div>    
    <p ng-if="tipHasText()">{{displayStepTip.text}}</p>
    <h5 ng-if="tipHasVideo()">{{displayStepTip.videoTitle}}</h5>
    <iframe ng-if="tipHasVideo()" width="300" height="169" ng-src="{{displayStepTip.videoURL | sourceTrusted}}" frameborder="0" allowfullscreen></iframe>
  </ion-content>
</ion-popover-view>
