<ion-tabs class="tabs-icon-top tabs-light bottom-fixed-nav-tabs">

  <!-- Home Tab 
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="main.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>-->

  <!-- Cook Tab -->
  <ion-tab title="" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="main.cook">
    <ion-nav-view name="tab-cook"></ion-nav-view>
  </ion-tab>

  <!-- Learn Tab
  <ion-tab title="" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" ui-sref="main.learn">
    <ion-nav-view name="tab-learn"></ion-nav-view>
  </ion-tab>-->

  <!-- new Learn Tab -->
  <ion-tab title="" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" ui-sref="main.chapters">
    <ion-nav-view name="tab-learn2"></ion-nav-view>
  </ion-tab>

  <!-- Tips Tab
  <ion-tab title="Tips" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" ui-sref="main.tips">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>-->

  <!-- Recipes Tab -->
  <ion-tab title="" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" ui-sref="main.recipes">
    <ion-nav-view name="tab-recipes"></ion-nav-view>
  </ion-tab>

  <!--Account Tab-->
  <ion-tab title="" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="main.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
