<ion-tabs class="tabs-icon-top tabs-light">

  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Cook Tab -->
  <ion-tab title="Cook" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" 
    ui-sref="main.cook">
    <ion-nav-view name="tab-cook"></ion-nav-view>
  </ion-tab>

  <!-- Tips Tab -->
  <ion-tab title="Tips" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" ui-sref="main.tips">
    <ion-nav-view name="tab-tips"></ion-nav-view>
  </ion-tab>

  <!-- Recipes Tab -->
  <ion-tab title="Recipes" icon-off="ion-soup-can-outline" icon-on="ion-soup-can" ui-sref="main.recipes">
    <ion-nav-view name="tab-recipes"></ion-nav-view>
  </ion-tab>

  <!-- Learn Tab -->
  <ion-tab title="Learn" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref="main.learn">
    <ion-nav-view name="tab-learn"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <ion-tab title="Debug" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab>

</ion-tabs>
