<ion-item class="education-collection individual-recipe-in-list training-video-item" ng-click="getVideoModal()">
  <div class="row">
  	<div class="col col-video-thumbnail col-center"> 
  		<img class="video-thumbnail" ng-if="video.picture.url" ng-src="{{video.picture.url}}">
  	</div>
  	<div class="col col-center">  
  		<h2 class="education-title">{{video.title}}</h2>
  	</div>
    <i class="icon ion-chevron-right"></i>
  </div>
  <div class="row">
  	<div class="col">
  		<p>{{video.video.caption}}</p>
  	</div>
  </div>
  <i class="icon ion-videocamera"></i>  
</ion-item>